@import './general.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #262A2E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1196px;
  margin: auto;
}

.button {
  background: #303539;
  border-radius: 5px;
  padding: 6px 21px;
  border: none;
  cursor: pointer;
  color: #fff;

  img, svg {
    width: 24px;
    height: 24px;
  }
}
