@import './fonts.scss';

// Breakpoints
$min-media-sizes: (
  'm': 375px,
  't': 767px,
  'd': 1280px,
);

$max-media-sizes: (
  'sMax': 374px,
  'mMax': 767px,
  'tMax': 1279px,
);

// COLORS
$black: #000000;
$white: #ffffff;
$blue: #6f9ac7;
$lightblue: #bcdcf5;
$lightblue-white: #f8f8f9;
$darkblue: #306194;
$purple: #9370db;
$pink: #ba55d3;
$pink-neon: #ff00ff;
