@import '@styles/variables';
@import '@styles/media';

.header {
  display: flex;
  background: #1B1E21;
  border-radius: 0px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  min-height: 62px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  @include min-media('d') {
    font-size: 25px;
    line-height: 29px;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}