@import '@styles/variables';
@import '@styles/media';

.pagination {
  &__btn {
    background: #303539;
    border-radius: 50px;
    color: #299DED;
    font-size: 18px;
    line-height: 22px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;

    & + & {
      margin-left: 11px;
    }

    &--active {
      color: #606365;
    }
  }

  @include min-media('d') {
    &__btn {
      font-size: 25px;
      line-height: 29px;
      padding: 5px 26px;
    }
  }
}