@import '@styles/variables';
@import '@styles/media';

.movie-detail {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding: 30px 20px;
  overflow: hidden;

  &.container {
    width: calc(100% - 40px);
  }

  &__poster {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    margin-top: 20px;
  }

  &__rating {
    position: absolute;
    top: 10px;
    right: 8px;
    background: rgba(48, 53, 57, 0.85);
    border-radius: 5px;
    padding: 0 8px;
    font-family: Roboto;
    font-weight: 200;
    font-size: 25px;
    line-height: 29px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 39px;
  }

  &__year {
    font-weight: 200;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  &__genres-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 25px;
  }

  &__genre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px;

    &::before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      background: #606365;
      border-radius: 50%;
      margin-right: 6px;
    }
  }

  &__synopsis {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;

    h2 {
      margin: 0 0 12px;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }

  &__chart {
    margin-top: 50px;
  }

  @include min-media('d') {
    padding: 0;
    padding-top: 57px;
    padding-bottom: 111px;

    &.container {
      width: 100%;
    }

    h2 {
      font-size: 30px;
      line-height: 35px;
    }

    &__poster {
      margin-right: 60px;
      width: calc(50% - 60px);

      img {
        width: 466px;
      }
    }

    &__title {
      font-size: 50px;
      line-height: 59px;
    }

    &__info {
      width: 50%;
      margin-top: 0;
    }

    &__genre {
      margin: 0 17px 0;
    }

    &__genres-list {
      margin: 0 -17px 25px;
    }

    &__year {
      font-size: 35px;
      line-height: 41px;
      margin-bottom: 8px;
    }

    &__synopsis {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 22px;

      h2 {
        margin: 0 0 16px;
      }
    }
  }
}