@import '@styles/variables';
@import '@styles/media';

.comments-item {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 7px 10px;
  background: #606365;
  border-radius: 5px;

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 18px;
  }

  &__date {
    margin-left: 10px;
    font-weight: 200;
  }

  &__remove.button {
    margin-left: auto;
    background: transparent;
    border: none;
    padding: 0;
  }

  &__text {
    font-size: 16px;
    line-height: 19px;
  }

  &__image {
    margin-right: 10px;
  }

  @include min-media('d') {
    &__head {
      font-size: 15px;
      line-height: 18px;
    }

    &__text {
      font-size: 20px;
      line-height: 23px;
    }

    &__date {
      margin-left: 20px;
    }
  }
}