@import '@styles/variables';
@import '@styles/media';

.movies-item {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  color: #FFFFFF;

  &:hover {
    .movies-item__poster {
      border-color: #2E95DC;
    }

    .movies-item__detail {
      opacity: 1;
      visibility: visible;
    }
  }

  &__poster {
    border: 6px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .4s;
    position: relative;
    align-self: center;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 280px;
      object-fit: contain;
    }
  }

  &__detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(48, 53, 57, 0.5);
    box-shadow: inset 20.7px -20.7px 20.7px rgba(36, 40, 43, 0.1), inset -20.7px 20.7px 20.7px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6.4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
  }

  &__link {
    background: #299DED;
    border-radius: 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #303539;
    text-decoration: none;
    padding: 5px 20px;

    &:not(:first-child) {
      margin-bottom: 32px;
    }
  }

  &__info {
    // opacity: 0;
    // visibility: hidden;
    transition: .4s;
  }

  &__genres-list {
    margin-bottom: auto;
  }

  &__genre {
    font-size: 20px;
    line-height: 32px;
  }

  &__rating {
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0 20px;

    img, svg {
      display: block;
      width: 20px;
      height: 20px;
      margin: auto;
      margin-bottom: 11px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }

  &__year {
    font-size: 12px;
    line-height: 14px;
    color: #9CA1A4;
  }

  @include min-media('d') {
    &__poster {
      align-self: stretch;
      margin-bottom: 0;

      img {
        width: 100%;
        height: 377px;
        object-fit: cover;
      }
    }

    &__genre {
      font-size: 30px;
      line-height: 42px;
    }

    &__rating {
      font-size: 25px;
      line-height: 29px;
      margin: 39px 0 30px;

      img, svg {
        width: 32px;
        height: 32px;
      }
    }

    &__link {
      font-size: 25px;
      line-height: 29px;
      padding: 5px 30px;
    }
  }
}