@import '@styles/variables';
@import '@styles/media';

.comments {
  margin-top: 6px;
  font-family: Roboto, sans-serif;
  font-weight: 300;

  &__item {
    margin: 0 0 10px;
  }

  &__list {
    height: calc(50vh);
  }

  @include min-media('d') {
    &__item {
      margin: 0 0 16px;

      &:last-child {
        margin-bottom: 23px;
      }
    }
  }
}