@import '@styles/variables';
@import '@styles/media';

.movies {
  padding: 34px 0 77px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 -23px;
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  &__item {
    margin: 0 0 30px;
    width: 100%;
  }

  @include min-media('d') {
    &__list {
      margin: 0 -50px -23px;
      padding: 0;
      width: 100%;
    }

    &__item {
      margin: 0 48px 23px;
      width: calc(25% - 96px);
    }
  }
}